* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/130.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Libre Franklin', sans-serif;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

img.selfridges {
  justify-content: center;
}

.section-one {
  display: flex;
  justify-content: space-between;
}

.grid-floor {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid {
  margin: 50px 0 0 0;
  align-items: center;
  background-image: url("../images/Screenshot\ 2021-02-18\ at\ 17.28.34.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 650px;
  width: 800px;
  position: relative;
}
.floor {
  width: 1000px;
  height: 150px;
  background-image: url("../images/Screenshot\ 2021-02-20\ at\ 15.32.47.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 150px;
  z-index: -1;

}

.grid-wrapper{
  justify-content: center;

}





/* tryig to overlap both images */

/*img.grid {
  position: absolute;
  bottom: 20px;
}

img.floor {
  position: relative;
} */

.grid div {
  text-align: center;
  justify-content: center;
  flex-grow: 0.5;
  border: 1px solid lightgrey;
  height: 13.5%;
  width: 15%;
}

.grid div.chanel {
  background-image: url("../images/small-boy-chanel-handbag-blue-grained-.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  cursor: pointer;

}

.grid div.ysl {
  background-image: url("../images/118-2000644-442906D420W1000_BLACKGOLD_M.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  
}

.section-two {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 0 50px;
}

.player-one {
  margin: 0 50 0 20px;
  font-size: large;
  text-align: center;
}

.player-two {
  margin: 0 20px 0 50;
  font-size: large;
  text-align: center;
}

img.P1CHANEL {
  width: 220px;
  height: 130px;
  text-align: left;
}

img.P1YSL {
  width: 200px;
  height: 150px;
  text-align: right;
}

/* how do use z-index? */
.winner {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
/*
.grid div:hover {
  background-image: radial-gradient( rgba(245, 246, 252, 0.52), rgba(245, 246, 252, 0.52)), url("../images/small-boy-chanel-handbag-blue-grained-.png");
  background-size: cover;
  background-position: bottom;

}

.grid div:hover {
  background-image: radial-gradient( rgba(245, 246, 252, 0.52), rgba(245, 246, 252, 0.52)), url("../images/118-2000644-442906D420W1000_BLACKGOLD_M.png");
  background-size: cover;
  background-position: bottom;

}
*/

.P1CHANEL.pulse {
  animation: pulse 3s infinite;
}

.P1YSL.pulse {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  from {
      transform : scale(1);
      opacity   : 1;
  }
  50% {
      transform : scale(0.75);
      opacity   : 0.25;
  }
  to {
      transform : scale(1);
      opacity   : 1;
  }
}

.fall {
  animation-name: fall-animation;
  animation-duration: 500ms;
}

@keyframes fall-animation {
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translateY(0);
  }
}
